<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%X{X-AICA-TX-ID}] [%t] %logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/example.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/example.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%X{X-AICA-TX-ID}] [%t] %logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/audit-example.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/audit-example.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_APP_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="APP_APPENDER" />
    </appender>

    <appender name="ASYNC_AUDIT_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="AUDIT_APPENDER" />
    </appender>

    <logger name="jdbc" level="OFF" />
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />

    <logger name="com.zaxxer.hikari" level="WARN" />

    <springProfile name="local | dev">
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />
        <logger name="com.kt.aica.client.logging" level="DEBUG" />

        <logger name="jdbc.sqltiming" level="DEBUG" />
        <logger name="jdbc.resultsettable" level="DEBUG" />

        <logger name="audit" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ASYNC_AUDIT_APPENDER" />
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ASYNC_APP_APPENDER" />
        </root>
    </springProfile>

    <springProfile name="stage | prod">
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />
        <logger name="com.kt.aica.client.logging" level="DEBUG" />

        <logger name="jdbc.sqltiming" level="DEBUG" />
        <logger name="jdbc.resultsettable" level="DEBUG" />

        <logger name="audit" level="INFO" additivity="false">
            <appender-ref ref="ASYNC_AUDIT_APPENDER" />
        </logger>

        <root level="INFO">
            <appender-ref ref="ASYNC_APP_APPENDER" />
        </root>
    </springProfile>

</configuration>